extends layout.pug
block content
  .container 
    h1 About this list
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, odit eligendi adipisci eius ex, accusamus perferendis nobis, explicabo ab ea consequuntur quisquam inventore eum nulla assumenda esse est ipsam sit.